* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffcccc;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4; }

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.255em;
}

h3 {
  font-size: 2.75em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

img {
  width: 100%;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:visited {
  color: #663366;
}

/* a:link {
  color: red;
 }*/

a:active {
  color: #cc6699;
}

/*
.buttonA {
  display: inline-block;
  background-color: #660033;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #cc6699;
  transition: 0.2s opacity;
}
*/
.button:hover {
  opacity: 0.8;
}




.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #660033;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #cc6699; /* width of the border, type, color */
  transition: 0.2s opacity;
}
*/


.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.resume {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #660033;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #cc6699; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.resume:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

header {
  background-color: #cc6699;
  padding: 10px 0 4px;

  /*text-align: center;*/
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.40);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 116px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}
/*
.logo {
  max-width: 250px;
}*/

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*nav > ul > li {
  display: inline-block;
}*/

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  color: pink;
}


nav > ul > li > a:hover {
  color: #663366;
}

nav > ul > li > a:active {
  color: #cc6699;
}

/*nav{
   display: inline-block;
   width:100%;
}*/

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

footer {
text-align: center;

}

.social {
  padding: 10px;
}

.logo {
  max-width: 250px;
 max-height: 250px;
 min-width: 100px;
 min-height: 100px;
 text-align: center;
 display: inline-block;
}

#hero {

  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/*#hero .container {
  background-color: #cc3366;

} */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.centered_images {
  text-align: center;
}


.berlin-illustration{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.sun{

}

.cloud-front{

}

.cloud-back{

}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 44s cloud-move-reverse infinite alternate linear;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
   text-align: unset;
   padding: 20px 0 13px;
}

nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

#hero {
   text-align: center;
  }

  #hero span {
    display: block;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
}

.col-md-6 {
  width: 50%;
}

#about-page h3
{ margin-top: 0;}

nav > ul {
  margin: 1em 0;
}

nav > ul > li {
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5{
    width: 40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
